test2.json
{
  "name": "JSON String Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-json",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "// 取得輸入的 JSON 數據\nconst inputData = $input.first().json;\n\n// 處理輸入的數據\nconst processedData = {\n  body: {\n    // 保留原始數據\n    ...inputData,\n    // 添加處理狀態\n    demo: \"OK\",\n    // 添加處理時間戳\n    processed_at: new Date().toISOString(),\n    // 添加數據類型信息\n    data_type: typeof inputData,\n    // 添加欄位數量\n    field_count: Object.keys(inputData).length\n  },\n  // 元數據\n  meta: {\n    success: true,\n    message: \"JSON data processed successfully\",\n    original_keys: Object.keys(inputData),\n    processing_time: new Date().toISOString()\n  }\n};\n\nreturn { json: processedData };"
      },
      "id": "json-processor",
      "name": "JSON Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [740, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "JSON Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Processor": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Taipei"
  }
}